{% include html_head.html %}

<body class="{{page.bodyClass}}">
    <div class="header">
        <h1>
            Vahn Phan
        </h1>

        <ul class="nav">
            <li class="home">
                <a href="{{ site.baseurl }}/index.html">Home</a>
            </li>
            <li class="works">
                <a href="{{ site.baseurl }}/works.html">Works</a>
            </li>
            <li class="journal">
                <a href="{{ site.baseurl }}/journal.html">Journal</a>
            </li>
            <li class="contact">
                <a href="{{ site.baseurl }}/contact.html">Contact</a>
            </li>

        </ul>
    </div>